# Dependencias
node_modules/

# Build
.build/
dist/

# Serverless
.serverless/

# Coverage
coverage/

# Archivos de entorno (solo ignorar producción)
.env.production
.env.prod

# Logs
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Temporal
*.tmp
*.temp
